
.container
    width: 1440px
    padding: 143px 0 0 235px
    display: flex
    justify-content: space-between

.topics

    padding: 136px 70px 63px 62px
    &_info

        display: grid
        grid-template-columns: repeat(2, 333px)
        grid-template-rows: repeat(2, 302px)
