
.container
    width: 1440px
    padding: 86px 0 0 315px
    display: grid
    grid-template-columns: repeat(2, 333px)
    grid-template-rows: repeat(2, 302px)

.topics
    display: flex
    justify-content: space-between
