.articles
    width: 420px
    height: 622px
    // display: flex
    // justify-content: space-between
    // text-align: center
    img
        width: 420px
        height: 350px
        text-align: center
    &_info
        h2
            width: 320px
            font-family: 'Cardo'
            font-style: normal
            font-weight: 400
            font-size: 24px
            line-height: 34px
            letter-spacing: 0.24px
            text-align: start
            color: #1B3764
        h3
            width: 355px
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 26px
            text-align: end
            color: #1B3764
        p
            width: 355px
            height: 85px
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 19px
            line-height: 30px
            color: #969AA0
