.infocard
    height: 960px
    h3
        font-family: 'Cardo'
        font-style: normal
        font-weight: 400
        font-size: 54px
        line-height: 77px
        color: #1B3764

    p
        font-family: 'Inter'
        font-style: normal
        font-weight: 400
        font-size: 17px
        line-height: 22px
        color: #969AA0
