.partners
    // width: 630px
    // height: 382px
    // display: flex
    // justify-content: space-between
    text-align: center
    img
        // width: 310px
        // height: 405px
        text-align: center
    &_info
        h2
            font-family: 'Cardo'
            font-style: normal
            font-weight: 400
            font-size: 24px
            line-height: 29px
            text-align: center
            color: #1B3764

        h3
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 21px
            line-height: 33px
            color: #FFCA42

        p
            font-family: 'Inter'
            width: 275px
            font-style: normal
            font-weight: 400
            font-size: 19px
            line-height: 28px
            color: #969AA0
