.container
    width: 1440px

    display: flex
    justify-content: space-around

.about_author
    height: 960px
    padding: 130px 70px 0 190px
    background-color: #F5F8FC
    &_info
        padding-top: 67px
        padding-left: 28px
        width: 605px
        height: 615px
        &_text
            padding-top: 60px
            width: 550px
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 19px
            line-height: 34px
            color: #969AA0

.infocards
    padding-top: 34px
    padding-left: 12px
    padding-bottom: 153px
    width: 590px
    height: 98px
    display: flex
    justify-content: space-between
