
.container
    width: 1440px
    padding: 86px 0 0 315px
    // margin: 0 auto
    display: flex
    justify-content: space-around
    min-height: 502px

.title
    width: 370px
    height: 51px
    margin: 0 auto
    position: relative
    font-family: 'Cardo'
    font-style: normal
    font-weight: 400
    font-size: 42px
    line-height: 50px
    text-align: center
    text-transform: capitalize
    padding: 130px 70px 0 70px
    color: #1B3764
    &::after
        content: ''
        position: absolute
        height: 3px
        width: 50px
        top: 202px
        left: 230px
        // top: 12px
        background-color: #FFCA42

.author_books
    display: flex
    justify-content: space-between
