
.container
    width: 1440px
    padding: 86px 0 0 215px
    // display: flex
    // justify-content: space-between

.author_books
    min-height: 605px
    padding-top: 16px
    padding-right: 17px
    margin: 109px 70px 90px 80px
    &_items
        display: flex
        justify-content: space-between
