.books
    width: 630px
    height: 382px
    display: flex
    justify-content: space-between
    img
        width: 310px
        height: 405px

    &_info
        h2
            font-family: 'Cardo'
            font-style: normal
            font-weight: 400
            font-size: 32px
            line-height: 38px
            letter-spacing: 0.32px
            color: #1B3764
        h3
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 21px
            line-height: 33px
            color: #FFCA42

        p
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 19px
            line-height: 28px
            color: #969AA0
